.buttons
{
  background-color: darkgreen;
  opacity: 30%;
  width: 300px;
  height: 35px;
}
#upButton 
{
  position: absolute;
  top: 10px;
}
#canvas 
{
  position: absolute;
  top: 10px;
}
#downButton 
{
  position: absolute;
}
#rightButton 
{
  position: absolute;
  top: 10px;
  width: 35px;
}
#leftButton 
{
  position: absolute;
  top: 10px;
  width: 35px;
}
#slapButton 
{
  position: absolute;
  width: 100px;
  height: 100px;
  opacity: 100%;
}
#markButton 
{
  position: absolute;
  width: 100px;
  height: 100px;
  opacity: 100%;
}
body 
{
  background-color: lightgreen;
}
#settingsMenu
{
  position: absolute;
  z-index: 1;
  background-color: grey;
  opacity: 80%;
}
#settingsButton 
{
  position: absolute;
  width: 100px;
  height: 100px;
  opacity: 100%;
  background-color: darkgreen;
}