body {
    background: linear-gradient(
      to right,
      #70e1f5,
      #ffd194
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: "Lato", sans-serif;
    color: #21376c;
  }
  h1 {
    font-size: 50px;
    font-family: "Secular One", sans-serif;
    text-align: center;
    letter-spacing: 0.3px;
  }
  
  h1 img {
    margin-right: 15px;
  }
  
  #nav {
    width: 1144px;
    margin-left: auto;
    margin-right: auto;
    background-color: #00f260;
    list-style-type: none;
    border-radius: 0px;
    position: sticky;
    top: 5px;
    z-index: 20;
    font-size: 20px;
  }
  
  #nav li {
    padding: 20px;
    display: inline-block;
  }
  
  li a {
    text-decoration: none;
    color: #ee9ca7;
    letter-spacing: 0.3px;
  }
  li span {
    text-decoration: none;
    color: #ee9ca7;
    letter-spacing: 0.3px;
    margin-left: 0px;
  }
  a {
    z-index: 3;
  }
  li {
    z-index: 2;
  }
  
  #nav li:hover {
    background-color: #000000;
    transition-duration: 0.5s;
  }
  
  #nav li:hover {
    color: #000000;
    transition-duration: 0.5s;
    cursor: pointer;
  }
  
  #kontener {
    background-color: #0fdbe5;
    width: 1160px;
    border: 0px solid;
    border-radius: 90px;
    opacity: 0.8;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    z-index: 1;
  }
  #kontener::after {
    content: "";
    display: table;
    clear: both;
  }
  #newscontainer {
    background-color: #bec46e;
    width: 1160px;
    border: 0px solid;
    border-radius: 50000px;
    opacity: 0.8;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    z-index: 1;
  }
  #newscontainer::after {
    content: "";
    display: table;
    clear: both;
  }
  
  h2 {
    font-family: "Secular One", sans-serif;
    font-size: 30px;
    margin-bottom: 50px;
    margin-top: 30px;
  }
  
  #projects {
    text-align: center;
  }
  .dwie-kolumny {
    width: 50%;
    float: left;
  }
  .dwie-kolumny img {
    width: 500px;
    height: 280px;
    object-fit: cover;
    
  }
  
  .dwie-kolumny img:hover {
    opacity: 0.9;
    transform: scale(1.1);
    transition-duration: 0.5s;
  }
  
  #subnauticabelow{
    background-image: url("https://cdn.glitch.global/efca0829-5891-4b62-ad21-01ffc783f8fe/subnautica%20below%20zero.webp?v=1658848177762");
    
  }
  
  #subnautica{
    background-image: url("https://cdn.glitch.global/efca0829-5891-4b62-ad21-01ffc783f8fe/Subnautica.webp?v=1658848170891");
  }
  
  #subnauticbelow,
  #subnautica{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 280px;
    background-size: cover;
    margin-bottom: 10px;
    position:relative;
  }
  
  .info{
    text-decoration: none;
    background-color: #4bb7c9;
    opacity: 0.9;
    padding: 20px;
    font-size: 30px;
    bottom:0px;
    left: 0px;
    position: absolute;
    color: #343924;
   transition-duration: 0.5;
}
  
  
  .info:hover{
    transition-duration: 0.5s;
    background-color: #000000;
    color: #1d3b4f;
  }
  
  p{
    font-size: 20px;
    padding: 20px;  
  }
  
  span{
    color: gold;
    margin-left: 10px;
  }
  
  .screenshot{
    width: 300px;
    margin-right: 5px;
    transition-duration: 0.2s;
  }
  
  .screenshot:hover{

    transform: scale(1.5);
  }
  
  .screenshots{
    margin-left: auto;
    margin-right: auto;
    width: 950px;
  }