.buttons
{
    width: 45px;
    height: 180px;
    background-color: grey;
}
#controlls
{
  position: absolute;
  left: 260px;
  top: 30px;
  opacity: 60%;
}
#controlls2
{
  position: absolute;
  left: 20px;
  top: 30px;
  opacity: 60%;
}
.print
{
  z-index: 1;
}
.canvas
{
  z-index: 10;
}
#pchelp{
  color:white;
  background-color: black;
  z-index: 20;
}